---
import MainLayout from '../../layouts/MainLayout.astro'
import BlogCard from '../../lib/ui/BlogCard.svelte'
---

<MainLayout>

  <span class="bg-green-500 absolute"></span>
  <div class="bg-blue-500 w-full border-2 border-red-500 p-10  ">
    b
  <BlogCard ></BlogCard>
  <BlogCard></BlogCard>
  <BlogCard></BlogCard>
  </div>
</MainLayout>
